/*  ABOUT ME - GRAPHIC  */

.grid-graphic {
  height: 600px;
  width: 600px;
  min-height: 600px;
  min-width: 600px;
  display: grid;
  margin-top: 7rem;
  margin-right: 2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  transform: scale(1.1);
  transform: scale(1.1);
  position: absolute;
  right: 6rem;
  top: 9rem;
  opacity: 1;
}
.C1 {
  grid-area: 1 / 1 / 5 / 5;
  margin: -1rem -2rem -1rem 0rem;
  border-radius: 49.6%;
  background: radial-gradient(circle at 13.41rem 13.46rem, transparent 69.7%, var(--secondary) 71%);
  /*background-color: var(--secondary-dark-80);*/
}
.C2 {
  grid-area: 1 / 3 / 5 / 7;
  /*background-color: var(--baseline-20);*/
  border-radius: 49.8%;
  background: radial-gradient(circle at 11.55rem 11.51rem, transparent 69.8%, var(--baseline) 71%);
  margin: 1rem 0rem 1rem 2rem;
}
.L1 {
  transform: rotate(-18deg);
  grid-area: 1 / 1 / 5 / 5;
  margin: -1.2rem -1.7rem;
  border-radius: 48%;
  background: radial-gradient(circle at 13.3rem 13.5rem, transparent 69.7%, var(--secondary-light) 71%),
    radial-gradient(circle at 12rem 13.5rem, transparent 70%, var(--secondary) 71%, transparent 74%);
  margin: -1.5rem -2.5rem -0rem -0.2rem;
}
.L2 {
  grid-area: 1 / 3 / 5 / 7;
  border-radius: 48%;
  background: radial-gradient(circle at 12.5rem 10.7rem, transparent 69.8%, var(--baseline-50) 71%, transparent 75%),
    radial-gradient(circle at 15.91rem 9.53rem, transparent 75%, var(--baseline-70) 76%, transparent 77%);
  margin: 1rem 2rem 1.5rem 2.5rem;
}
.LD {
  grid-area: 3 / 2 / 5 / 7;
  height: 13px;
  transform: rotate(60deg);
  background: linear-gradient(181deg, transparent 48%, var(--accent-50) 52%, transparent 60%),
    linear-gradient(177.5deg, transparent 45%, var(--accent) 52%, transparent 59%),
    linear-gradient(182.5deg, transparent 40%, var(--secondary) 52%, transparent 60%);
}

/*  SKILLS AND EXPERIENCE // PROJECTS // CONTACT  */
.block-expert,
.block-projects,
.block-maps {
  display: flex;
  flex-direction: column;
  width: 40rem;
  min-width: 40rem;
  align-items: center;
  height: 100%;
}
.block-projects {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.card {
  margin: 0.6rem 0.6rem 0.6rem 0.6rem;
  padding: 1.5rem;
  background-color: var(--secondary-20);
  border-radius: 0.5rem;
  color: var(--primary-light);
  text-align: justify;
  font-family: var(--font-primary);
  flex: 30%;
  box-shadow: 5px 5px 10px 0px var(--primary-dark-30);
  border-top: var(--primary-light-20) solid 1px;
  border-left: var(--primary-light-20) solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.flip {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 33%;
  position: relative;
}
.card.project {
  height: 13rem;
  padding: 1.2rem 0.5rem;
  backface-visibility: hidden;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}
.flip:hover .card.project {
  transform: rotateY(180deg);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
  transform-style: preserve-3d;
}
.card.info {
  position: absolute;
  height: 13rem;
  width: calc(100% - 1.2rem);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1.5s;
  backface-visibility: visible;
  transform: rotateY(180deg);
  opacity: 0;
}
.flip:hover .card.info {
  transform: rotateY(0deg);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1.5s;
  transform-style: preserve-3d;
  opacity: 1;
}
.accent {
  background-color: var(--accent-50);
}
.accent-2 {
  background-color: var(--secondary-70);
}
h3 {
  color: var(--baseline-70);
  margin-bottom: 1rem;
  font-family: var(--font-accent);
  font-size: 1.5rem;
}
h3.accent {
  color: var(--baseline);
  background-color: transparent;
}
h3.accent-2 {
  color: var(--primary);
  background-color: transparent;
  font-weight: bolder;
}
p.accent {
  color: var(--baseline-70);
  background-color: transparent;
}
p.accent-2 {
  color: var(--primary-dark);
  background-color: transparent;
}
.tag-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.7rem;
}
.tag {
  padding: 0.1rem 0.6rem;
  margin: 0.2rem 0.1rem;
  border-radius: 5px;
  border: var(--baseline-70) 1px solid;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--primary-dark);
  background-color: var(--baseline-20);
}
.flip .card.info a.link {
  font-size: bolder;
  text-decoration: underline;
  color: var(--baseline);
  padding: 0.4rem;
  margin-top: 0.4rem;
  text-justify: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}
.flip .card.info a.link:hover {
  transform: scale(1.25);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}
.icon-frame {
  border: 0px solid var(--baseline);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 49%, transparent 69%, var(--baseline-50) 71%, transparent 73%),
    radial-gradient(circle at 55% 47%, transparent 67%, var(--baseline-20) 69%, transparent 70%),
    radial-gradient(circle at 48% 53%, transparent 69%, var(--baseline-20) 71%, transparent 72%);
  padding: 1rem 0rem;
}
.icon-frame svg {
  flex-basis: 100%;
}
.icon-frame svg {
  width: 55%;
  fill: var(--baseline);
  fill-opacity: 0.4;
}
iframe {
  width: 39rem;
  height: 37rem;
  min-height: 37rem;
  border-radius: 0.5rem;
  margin: 0.6rem 0.6rem 0.6rem 0.6rem;
}

@media (max-width: 1700px) {
  .grid-graphic {
    position: absolute;
    opacity: 0.5;
    transform: translateX(0rem) translateY(0rem) scale(1.1);
  }
  .block-expert,
  .block-projects,
  .block-maps {
    margin-top: 7rem;
  }
}
@media (max-width: 1600px) {
  .grid-graphic {
    opacity: 0.25;
  }
}
@media (max-width: 1400px) {
  .grid-graphic {
    opacity: 0.1;
  }
}
@media (max-width: 1100px) {
  .block-expert,
  .block-projects,
  .block-maps {
    width: 30rem;
    min-width: 30rem;
    max-width: 30rem;
  }
  .flip {
    flex: 34%;
  }
  iframe {
    width: 30rem;
    height: 32rem;
    min-height: 32rem;
  }
}
@media (max-width: 850px) {
  .grid-graphic {
    transform: scale(0.8) translateY(-8rem);
    right: 2rem;
  }
}
@media (max-width: 800px) {
  .grid-graphic {
    transform: scale(0.6) translateY(-17rem);
  }
  .block-expert,
  .block-projects,
  .block-maps {
    width: 25rem;
    min-width: 25rem;
    max-width: 25rem;
  }
  .flip {
    flex: 100%;
  }
  iframe {
    width: 25rem;
    height: 27rem;
    min-height: 27rem;
  }
}
