.nav-bar {
  display: flex;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 10;
}
.navbar-container {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  border-bottom: 1px solid var(--primary-50);
  box-shadow: 10px 4px 15px 0px var(--primary-dark-30);
  font-family: var(--font-primary);
  text-align: center;
}
.navbar-container.r-sec {
  justify-content: flex-start;
  padding-right: 3rem;
  width: 67.5rem;
  background-color: var(--primary);
}
.navbar-container.l-sec {
  justify-content: flex-end;
  padding-right: 0rem;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 67.5rem);
  background-color: var(--primary);
}
.nav-bar ul {
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}
.nav-bar ul li {
  width: 6rem;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
}
.nav-bar ul li:hover,
svg.logo {
  cursor: pointer;
  color: var(--baseline);
  transform: scale(130%, 130%);
  text-shadow: 0px -0px 1px var(--baseline);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
}
.nav-bar a {
  text-decoration: none;
  color: var(--baseline-70);
}
.logo {
  margin: 1rem 0rem 0rem 1rem;
  width: 40%;
}
.logo .path1,
.logo .path2 {
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
}
.logo:hover .path1 {
  fill: var(--secondary);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
}
.logo:hover .path2 {
  fill: var(--baseline);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
}

@media (max-width: 1550px) {
  .nav-bar .l-sec ul {
    position: absolute;
    right: 0;
    width: 450px;
  }
}
