.social-bar a {
  height: 100%;
  width: 100%;
}
.social-bar {
  display: flex;
  width: 4rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  align-items: flex-end;
}
.line {
  background-image: linear-gradient(
    0deg,
    var(--primary-dark),
    var(--secondary-dark) 15%,
    var(--accent) 20%,
    var(--baseline-70) 22%,
    transparent 60%
  );
  height: 100%;
  width: 1px;
}
.social-container {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18rem;
  list-style: none;
  color: var(--accent-70);
}
.social-container li {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 3rem;
  margin-left: 0.5rem;
}
.social-container svg {
  fill: var(--accent-70);
  height: 40%;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
}
.social-container svg:hover {
  cursor: pointer;
  fill: var(--baseline);
  transform: scale(150%, 150%);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
}
